/* Inserte su codigo aqui */
.header{
	background: #ffd419;
	height: 69px;
}
nav.navbar {
    background-color: #ffd419;
    color: white;
    border:1px solid #ffd419;
}

nav.navbar a {
    color:white;
    text-align: -webkit-right;
}
.portafolio{
	margin-top: -20px;
	background: #ffd419;
	color: white;
	height: 600px;
	vertical-align: middle;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.white{
	background:#D8D8D8;
	width: 394px;
    height: 600px;

}
.part-gray{
	background-color: #D8D8D8;
	height: 1300px;
	margin:0 auto;
}
.dentro
{
	width: 500px;
	height: 600px;
	background-color:white;
	margin-top: 30px;
	padding-top: 27px;
}
.texto{
	background: #A4A4A4;
	width: 300px;
	height: 320px;
	margin:0 auto;

}
p{
	padding: 20px;
}
.titulo{
	padding-top: 80px;
}

.pie{
	background: black;
	color:white;
	height: 100px;
	padding-top: 10px;
}